.home-container {
  display: flex;
  flex-direction: row;
  min-height: 100vh;

}

.home-container .left {
  width: 50%;
  padding: 3%;
  background-image: url('../../assets/images/landingpageimg.jpg');
  background-position: center center;
  background-size: contain;
}

.home-container .right {
  display: flex;
  flex-direction: column;
  padding: 3%;
  width: 50%;
  min-height: 600px;
  align-items: center;
  justify-content: center;
}

.form-container {
  min-height: 600px;
}

/* Example: for screens with max-width 768px */
@media screen and (max-width: 768px) {
  .home-container .left {
    display: none;
    /* fixed "dispaly" */
    width: 60%;
    padding: 3%;
    background-image: url('../../assets/images/rentAChefhomeLeftBG.png');
    background-position: center center;
    background-size: contain;
  }

  .home-container .right {
    padding: 3%;
    width: 100%;
  }
}